html,
body,
#root {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    user-select: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    background-color: var(--scrollbar-background-color);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 16px var(--scrollbar-thumb-color);
}

.ct {
    z-index: 1000000;
}